<div class="container">
    <h1>Welcome</h1>
    <hr>

    <div class="row mt-5">
        <div class="col-md">
            <partial name="_Login"></partial>

            <a href="/register">Not Registered Yet?</a>
        </div>

    </div>
</div>