@model ProfilePost

<h2 class="text-center">
  Edit ForumPost @Model.ProfilePostId
</h2>

<form asp-controller="ProfilePosts" asp-action="UpdateProfilePost" asp-route-id="@Model.ProfilePostId" method="POST" 
>


<div class="form-group">
    <b><label asp-for="ForumMsg"></label></b>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="ForumMsg"
    ></span>
    <textarea class="form-control" asp-for="ForumMsg">
      @Model.ForumMsg
    </textarea>
  </div>


  <button class="btn btn-success">Save</button>
  <a class="btn btn-info" asp-controller="ProfilePosts" asp-action="FamForum">
    Cancel
  </a>

</form>

